.inlineDivBox {
    width: 300px;
    display: inline-flex;
    margin: 10px;
}
.FormTextdefaultTheme {
    width: 100%;
    padding: 10px 24px;
    background-color: #f0f0f0;
    border-radius: 2px;
    color: #444;
    font-size: 14px; }
    .FormTextdefaultTheme::placeholder {
      color: #999; }
    .FormTextdefaultTheme[disabled] {
      background-color: #fafafa; }
      .FormTextdefaultTheme[disabled]::placeholder {
        color: #eaeaea; }
    .FormTextdefaultTheme.isSuccess {
      border: 2px solid #3e99fd; }
    .FormTextdefaultTheme.isError {
      background-color: #ffd8e3;
      border: 2px solid #fd3d71; }
      .defaultTheme.isError::placeholder {
        color: #fd3d71; }
    @media only screen and (min-width: 981px) {
      .FormTextdefaultTheme {
        padding: 16px 24px; } }
